* {
    border: 3px solid red;
    box-sizing: border-box;
}

html{
    height: 100%;
    display: inline-flex;   
    flex-flow: column;
    justify-content: flex-start; 
    
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-image: url(./math.jpg);
    color: white;
    min-height: 100%;
    height: 100%;
    margin: 0 auto;
    display: inline-flex;
    flex-flow: column;
    justify-content: space-between;
    width: 100%;

    
}


footer {
    background-color: rgba(0,0,0,.8);
    padding: 5px;
    bottom: 0;
    width: 100%;
    height: 10%;
    overflow: hidden;
    margin: 0 auto;
    display: inline-flex;
    justify-content: flex-end;
}

footer p {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: rgba(0,0,0,.8);
    border-radius: 20px;
    padding: .3rem;
    overflow: hidden;
    font-size: .8rem;
    height: 10%;
}

.section {

    margin: 5% auto;
    text-align: center;
    background-color:rgba(150,150,150,.85);
    border-radius: 30px;
    padding: 1rem;
    font-size: 1.8rem;
}

#punkte {
    display: none;
    font-size: 2rem;
    width: 18rem;
}

.aufgabe p {
    padding: 1.3rem 0;
    width: 5rem;
    height: 5rem;
    margin: 2% auto;
    display: inline-block;
    text-align: center;
    border-radius: 30px;
}

.v {
    background-color: darkslategrey;
    color: white;
    
}

.x {
    border: none;
    
}

.eingabe {
    text-align: center;
    margin:.5rem auto;
}

input {
    text-align: center;
    height: 2.75rem;
    width: 5.5rem;
    font-size: 1.7rem;
    border-radius: .25rem;
}
button  {
    height: 2.75rem;
    font-size: 1.7rem ;
    border-radius: .25rem;
    margin-top: 1rem;
}

button:hover {
    background-color: lightblue;
}

@media only screen and (max-height: 800px) {

    header {
        display: none;
    }

}

@media only screen and (max-height: 700px) {

    footer {
display: none;    }

    body {
        justify-content: flex-start;
    }

}

@media only screen and (max-height: 630px) {

    html {
        font-size: 10px;
    }

}

@media only screen and (max-height: 430px) {

    html {
        font-size: 8px;
    }

}